select {
    background-color: white;
    min-height: calc(fit-content + 10px);
}

option:hover {
    background-color: aqua;
}

.field-name {
    margin-right: 10px;
}

.dropdown-selector {
    /* padding-right: 30px; */
    margin-right: 30px;
}