.header-item {
    display: inline-flex;
    min-width: fit-content;
    width: 100%;
}
.inline {
    display: inline-flex;
    align-self: center;
}
.search-text {
    min-width: fit-content;
    width: 25%;
}
.search-field {
    min-width: fit-content;
    width: 75%;
    font-size: calc(13px + 1vmin);
}