.App {
  margin: 20px;
  font-family: sans-serif;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: #002e4d;
}

.button {
  background-color: #0d6fc4;
  color: white;
  border: none;
  border-radius: 25%;
}
.negative-button {
  background-color: white;
  color: #c6202d;
  border: #c6202d 1px;
  border-radius: 25%;
}

.table {
  min-width: fit-content;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
